* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  color: white;
}

.logo {
  width: 300px;
  margin-bottom: 11px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

p {
  margin: 10px 0 20px;
  color: #ccc;
}

.inputs {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.inputs span {
  color: #aaa;
}

input {
  width: 100px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
  text-align: center;
}

input::placeholder {
  color: #777;
}

button {
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  background: #b8d400;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #a6c200;
}
